.main {
  padding: 120px;
}
.thumbnail {
  max-width: 300px;
  width: 100%;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}
.category {
  margin-top: 16px;
}
.body {
  margin-top: 16px;
}
